html body{
    background-color: rgb(221, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 500px;
    height: 700px;
    border: solid 5px black;
    border-radius: 15px;
    background-color: rgb(87, 87, 87);
}

#display {
    width: 463px;
    height: 200px;
    border: solid 3px black;
    border-radius: 15px;
    margin: 15px;
    background-color: lightblue;
}
#calculations{
    width: 461px;
    max-width: 461px;
    height: 98px;
    border: solid 1px black;
    border-radius: 15px 15px 0px 0px;
    font-size: 90px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
#answers{
    width: 461px;
    height: 98px;
    border: solid 1px black;
    border-radius: 0px 0px 15px 15px;
}

#buttonPanel{
    width: 463px;
    height: 445px;
    margin: 15px;
    border: solid 3px black;
    border-radius: 15px;
    background-color: lightgray;
}

#clear-deleteButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin: 5px;
}
button#clearButton{
    height: 100px;
    width: 160px;
    border: solid 2px black;
    border-radius: 25px;
    font-size: x-large;
    font-weight: 900;
    background-color: lightgreen;
    margin-right:  5px;
}
button#deleteButton{
    height: 100px;
    width: 160px;
    border: solid 2px black;
    border-radius: 25px;
    font-size: x-large;
    font-weight: 900;
    background-color: rgb(250, 75, 75);
    margin-left:  5px;
}
button:hover{
    opacity: 0.75;
}
button:active{
    opacity: 0.5;
    border: solid 3px red;
}
.numOpButton{
    height: 50px;
    width: 75px;
    font-size: x-large;
    font-weight: 900;
    border: solid 3px black;
    border-radius: 25px;
    background-color: grey;
    margin: 18px;
}
#numbersOperators{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}